@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-creator: #283618;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lusitana: var(--font-lusitana);
  --font-montserrat: var(--font-montserrat);
  --font-istok-web: var(--font-istok-web);
  --font-inter: var(--font-inter);
  --color-header-bg: #E1E1E6;
  --color-input-bg: #D9D9D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-animation {
  animation: fadeIn 0.5s ease-out forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}

.bg-creatorcolor {
  background-color: var(--color-creator);
}
